[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "clusrank"]
	path = clusrank
	url = https://github.com/wenjie2wang/clusrank
	shallow = true
	registered = true
[submodule "formatBibtex"]
	path = formatBibtex
	url = https://github.com/wenjie2wang/formatbibtex
	shallow = true
	registered = true
[submodule "dynsurv"]
	path = dynsurv
	url = https://github.com/wenjie2wang/dynsurv
	shallow = true
	registered = true
[submodule "reda"]
	path = reda
	url = https://github.com/wenjie2wang/reda
	shallow = true
	registered = true
[submodule "abclass"]
	path = abclass
	url = https://github.com/wenjie2wang/abclass
	shallow = true
	registered = true
[submodule "jds.rmd"]
	path = jds.rmd
	url = https://github.com/wenjie2wang/jds.rmd
	shallow = true
	registered = true
[submodule "intsurv"]
	path = intsurv
	url = https://github.com/wenjie2wang/intsurv
	shallow = true
	registered = true
[submodule "splines2"]
	path = splines2
	url = https://github.com/wenjie2wang/splines2
	shallow = true
	registered = true
[submodule "touch"]
	path = touch
	url = https://github.com/wenjie2wang/touch
	shallow = true
	registered = true
