[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "abclass"]
	path = abclass
	url = https://github.com/wenjie2wang/abclass
[submodule "clusrank"]
	path = clusrank
	url = https://github.com/wenjie2wang/clusrank
[submodule "dynsurv"]
	path = dynsurv
	url = https://github.com/wenjie2wang/dynsurv
[submodule "formatBibtex"]
	path = formatBibtex
	url = https://github.com/wenjie2wang/formatbibtex
[submodule "intsurv"]
	path = intsurv
	url = https://github.com/wenjie2wang/intsurv
[submodule "jds.rmd"]
	path = jds.rmd
	url = https://github.com/wenjie2wang/jds.rmd
[submodule "reda"]
	path = reda
	url = https://github.com/wenjie2wang/reda
[submodule "splines2"]
	path = splines2
	url = https://github.com/wenjie2wang/splines2
[submodule "touch"]
	path = touch
	url = https://github.com/wenjie2wang/touch
